* {
  margin: 0;
  padding: 0;
}

#page {
  margin: 10px auto;
  width: 794px;
  height: 1123px;
  display: flex;
}

#sidebar {
  width: 35%;
  background-color: #34495e;
  padding: 20px;
}

#mainContent {
  width: 65%;
  background-color: #d6dbdf;
  padding: 20px;
}

#image {
  margin: 10px auto;
  height: 240px;
  width: 240px;
  overflow: hidden;
  border-radius: 100%;

  img {
    width: inherit;
    height: inherit;
  }
}

#name {
  padding: 5px;
  color: aliceblue;
  text-align: center;
}

#desigination {
  text-align: center;
  color: antiquewhite;
  font-variant: small-caps;
}

hr {
  margin-top: 5px;
  border: 1px solid #000;
}

.sidebarHeading {
  margin-top: 20px;
  color: aliceblue;
  font-variant: small-caps;
}

.sidebarGreyText {
  padding: 7px 0;
  color: #cacbcb;
}

svg {
  color: aqua;
}

.contactInfo {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
}
