* {
  margin: 0;
  padding: 0;
}
#head {
  padding: 10px;
  background-color: greenyellow;
  position: sticky;
  top: 10px;
  z-index: 99;
}

#helpButton {
  width: 25px;
  height: 25px;

  padding: 20px;
  background-color: gainsboro;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;

  button {
    background-color: transparent;
    border: none;
  }
}

#something {
  border: 1px solid #000;
  background: aqua;
  width: 700px;
  height: 300px;
  position: relative;
}

#ricrImg {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

#visitButton {
  position: absolute;
  right: 0;
}
