:root {
  --primary-color: rgb(88, 232, 102);
  --secondary-color: skyblue;
  --text-color: green;
}

h1 {
  color: var(--primary-color);
}

h3 {
  color: var(--secondary-color);
}

p {
  --br-radius: 5px;
  color: var(--text-color);
}

th {
  color: var(--primary-color);
}

td {
  color: var(--text-color);
}

button {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px 15px;
}

#login {
  background-color: var(--primary-color);
  /* border-radius: var(--br-radius); */
}

#register {
  background-color: var(--secondary-color);
  /* border-radius: var(--br-radius); */
}
